<script>
  import { onMount } from "svelte";
  import { DateTime } from "luxon";
  import Widget from "./Widget.svelte";
  import { EXCHANGES } from "./exchanges.js";
  import { DATE_FORMAT } from "./common.js";

  let timeUtc = DateTime.utc();

  $: timeNow = timeUtc.toFormat(DATE_FORMAT);

  onMount(() => {
    const interval = setInterval(() => {
      timeUtc = DateTime.utc();
    }, 1000);

    return () => {
      clearInterval(interval);
    };
  });
</script>

<main>
  <section class="section">
    <div class="container">
      <h1 class="title">World Stock Exchange Trading Hours</h1>
      <div class="columns is-multiline">
        <div class="column is-8">
          <div
            class="box pt-1 pb-1 has-text-weight-light is-shadowless is-family-code"
          >
            {timeNow}
          </div>
        </div>
        <div class="column is-2">
          <div
            class="box pt-1 pb-1 has-text-centered has-background-success-light"
          >
            Open
          </div>
        </div>
        <div class="column is-2">
          <div
            class="box pt-1 pb-1 has-text-centered has-background-danger-light"
          >
            Close
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        {#each EXCHANGES as t}
          <Widget exchange={t} timeCurrent={timeUtc} />
        {/each}
      </div>
    </div>
  </section>
</main>
