<script>
  export let exchangeState;

  $: title = `Time to ${exchangeState.nextState}`;
  $: d = exchangeState.nextStateCountdown.slice(0, 1);
  $: h = exchangeState.nextStateCountdown.slice(2, 4);
  $: m = exchangeState.nextStateCountdown.slice(5, 7);
  $: s = exchangeState.nextStateCountdown.slice(8, 10);
</script>

<div class="card mt-3">
  <div class="card-header">
    <div
      class="columns card-header-title has-text-weight-medium has-text-grey pb-1 pt-1"
    >
      <div class="column has-text-left">{title}</div>
      <div class="column has-text-right">
        {exchangeState.nextStateTime.toFormat("h:mm a")}
      </div>
    </div>
  </div>
  <div class="card-footer is-size-7">
    {#if parseInt(d) > 0}
      <p
        class="card-footer-item is-paddingless has-text-weight-light has-text-grey-light"
      >
        Days
      </p>
    {/if}
    <p
      class="card-footer-item is-paddingless has-text-weight-light has-text-grey-light"
    >
      Hours
    </p>
    <div
      class="card-footer-item is-paddingless has-text-weight-light has-text-grey-light"
    >
      Minutes
    </div>
    <div
      class="card-footer-item is-paddingless has-text-weight-light has-text-grey-light"
    >
      Seconds
    </div>
  </div>
  <div class="card-footer">
    {#if parseInt(d) > 0}
      <div class="card-footer-item">
        <p class="is-size-3 is-family-code">{d}</p>
      </div>
    {/if}
    <div class="card-footer-item">
      <p class="is-size-3 is-family-code">{h}</p>
    </div>
    <div class="card-footer-item">
      <p class="is-size-3 is-family-code">{m}</p>
    </div>
    <div class="card-footer-item">
      <p class="is-size-3 is-family-code">{s}</p>
    </div>
  </div>
</div>
