<script>
  import Counter from "./Counter.svelte";
  import { nullify, asSecondOfDay } from "./common";
  import { DateTime, Duration } from "luxon";
  import * as holidays from "./data/holidays.json";

  // props.
  export let exchange;
  export let timeCurrent;

  let exchangeState = {
    state: null,
    nextState: null,
    nextStateTime: null,
    nextStateCountdown: null,
    nextHoliday: null,
  };

  const exchangeOpenTime = Duration.fromObject({
    hours: exchange.open.h,
    minutes: exchange.open.m,
    seconds: exchange.open.s,
  });
  const exchangeCloseTime = Duration.fromObject({
    hours: exchange.close.h,
    minutes: exchange.close.m,
    seconds: exchange.close.s,
  });

  let exchangeHolidays = holidays[exchange.name];
  let validHolidays = [];

  $: timeLocale = timeCurrent.setZone(exchange.zoneName);
  $: isOpenDay =
    exchange.days.indexOf(timeLocale.weekday) === -1 ? false : true;
  $: timeLocaleStartOfDay = timeLocale.startOf("day");
  $: currentSecondOfDay = asSecondOfDay(timeLocale);
  $: widgetColor = exchangeState.state === "open" ? "success" : "danger";

  $: if (typeof exchangeHolidays !== "undefined") {
    exchangeHolidays.forEach((holiday) => {
      holiday.date = DateTime.fromISO(holiday.date, {
        zone: exchange.zoneName,
      });
      if (holiday.date > timeLocaleStartOfDay) {
        validHolidays.push(holiday);
      }
    });
  }

  $: if (
    isOpenDay &&
    currentSecondOfDay >= exchangeOpenTime.as("seconds") &&
    currentSecondOfDay < exchangeCloseTime.as("seconds")
  ) {
    // exchange is open.
    exchangeState = nullify(exchangeState);
    exchangeState.state = "open";
    exchangeState.nextState = "close";

    // calculate time to close.
    exchangeState.currentSecond = asSecondOfDay(timeLocale);
    exchangeState.nextStateTime = timeLocaleStartOfDay.plus(exchangeCloseTime);
    exchangeState.nextStateCountdown = `${exchangeState.nextStateTime
      .diff(timeLocale)
      .toFormat("d:hh:mm:ss")}`;
  } else {
    // exchange is close.
    exchangeState = nullify(exchangeState);
    exchangeState.state = "close";
    exchangeState.nextState = "open";

    // calculate time to open.
    if (isOpenDay && currentSecondOfDay < exchangeOpenTime.as("seconds")) {
      // opening in few hours.
      exchangeState.nextStateTime = timeLocaleStartOfDay.plus(exchangeOpenTime);
      exchangeState.nextStateCountdown = `${exchangeState.nextStateTime
        .diff(timeLocale)
        .toFormat("d:hh:mm:ss")}`;
    } else {
      // opening next or next next day.
      exchangeState.nextStateTime = timeLocaleStartOfDay.plus({ days: 1 });
      while (
        exchange.days.indexOf(exchangeState.nextStateTime.weekday) === -1
      ) {
        exchangeState.nextStateTime = exchangeState.nextStateTime.plus({
          days: 1,
        });
      }
      exchangeState.nextStateTime = exchangeState.nextStateTime.plus(
        exchangeOpenTime
      );
      exchangeState.nextStateCountdown = `${exchangeState.nextStateTime
        .diff(timeLocale)
        .toFormat("d:hh:mm:ss")}`;
    }
  }
</script>

<div class="column is-4">
  <div class="box has-text-centered has-background-{widgetColor}-light">
    <p class="subtitle is-4 pb-3">
      <span class="is-pulled-left has-text-weight-bold"
        >{exchange.name} {exchange.flag}</span
      >
      <span class="is-pulled-right has-text-right is-size-7 has-text-grey-light"
        >UTC{timeLocale.toFormat("ZZ")}<br />{timeLocale
          .toFormat("ZZZZZ")
          .match(/\b(\w)/g)
          .join("")}</span
      >
    </p>
    <p class="is-size-6 is-family-code">
      {timeLocale.toFormat("ccc, LLL d, yyyy")}
    </p>
    <p class="is-size-3 is-family-code">{timeLocale.toFormat("h:mm:ss a")}</p>
    <Counter {exchangeState} />
    {#if typeof exchangeHolidays !== "undefined"}
      <p class="is-size-7 mt-3 has-text-weight-bold">Upcoming holidays</p>
      <ul class="is-size-7">
        {#each validHolidays as h, i}
          {#if i < 3}
            <li class="has-text-weight-light">
              {h.date.toFormat("ccc, LLL d, yyyy")} - {h.description}
            </li>
          {/if}
        {/each}
      </ul>
    {/if}
  </div>
</div>
